.entrypagecontainer {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-top: 7%;
    gap: 1px 1em;
}

.entrypagecontainerblur {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-top: 7%;
    gap: 1px 1em;
    filter: blur(3px);
}

.entrypagetitle {
    background-color: rgb(235, 231, 225);
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.entrypageleft {
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    width: 20%;
    text-align: center;
}

.entrypagecoffeeimage {
    width: 150px;
    height: 150px;
    margin-top: 60px;
}

.entrypagedate {
    font-size: 12px;
}

.entrypagelink {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #000;
    background-color: rgb(235, 231, 225);
    color: #000;
}

.entrypagelink:hover {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    border: 1px solid #000;
    background-color: rgb(226, 223, 219);
    color: #000;
}

.entrypagemiddle {
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    width: 50%;
    height: 500px;
    gap: 20px 1em;
    display: flex;
    flex-direction: column;
}

.entrypagemiddletitle {
    background-color: rgb(235, 231, 225);
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.entrypageinnercolumn {
    background-color: rgb(235, 231, 225);
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.entrypagechecklistcolumn {
    background-color: rgb(235, 231, 225);
    color: #000;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.entrypagequestion {
    font-size: 14px;
    font-weight: 600;
}

.entrypageanswer {
    font-size: 12px;
}

.entrypageright {
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    width: 20%;
    gap: 1px 1em;
    display: flex;
    flex-direction: column;
}

.entrypagebutton {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #000;
    background-color: rgb(235, 231, 225);
    color: #000;
}

.entrypagebutton:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;
    opacity: 1;
    border: 1px solid #000;
    background-color: rgb(226, 223, 219);
    color: #000;
}

.deletepopup {
    position: fixed;
    z-index: 100;
    margin-left: 40%;
    margin-top: 100px;
    width: 20%;
    height: 200px;
    padding-top: 80px;
    text-align: center;
    background-color: #000;
}

.entrypagep {
    color: rgb(235, 231, 225);
    font-size: 15px;
}

.entrypagedeletebutton {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(235, 231, 225);
    background-color: #000;
    color: rgb(235, 231, 225);
    cursor: pointer;
}

.entrypagedeletebutton:hover {
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(235, 231, 225);
    background-color: rgb(37, 37, 37);
    color: rgb(235, 231, 225);
    cursor: pointer;
}

