body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 231, 225);
    color: #000;
    font-family: Corbert, Arial, Helvetica, sans-serif;
    font-smooth: always;
  }

/* Not logged in HP */

.homepagediv {
    width: 100%;
    bottom: 0;
    top: 0;
}

.homepagecontainer {
    margin: auto;
    padding-top: 2.5%;
    padding-left: 10%;
    height: 1200px;
    background-color: rgb(235, 231, 225);
}

.homepageh2 {
    color: #000;
    font-weight: 600;
}

.homepageh3 {
    color: #000;
    padding-top: 5%;
    font-weight: 600;
}

.homepageh4 { 
    color: #000;
    font-weight: 600;
}

.homepagep {
    color: #000;
    font-size: 12px;
}

.homepagelink {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: #000;
    cursor: pointer;
}

.homepagelink:hover {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: #000;
    cursor: pointer;
}

.homepagedivider {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 1%;
    color: #000;
}

.homepageaboutcontainer {
    width: 100%;
    height: 100%;
}

.homepageaboutleft {
    float: left;
    width: 50%;
    height: 25%;
}

.homepageaboutleftsection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.homepageaboutright {
    float: right;
    width: 50%;
    height: 25%;
}

.homepageaboutrightsection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.homepageaboutpreview {
    width: 200px;
    height: 200px;
}

.homepageoptionsdiv {
    margin-bottom: 10px;
}

.homepageblur {
    filter: blur(3px);
}

.loginformcontainer {
    position: fixed;
    z-index: 100;
    margin-left: 23%;
    width: 30%;
    height: 400px;
    padding: 30px;
    text-align: center;
    background-color: #000;
}

.loginh3 {
    color: rgb(235, 231, 225);
    font-weight: 600;
    letter-spacing: 1px;
}

.loginp {
    color: rgb(235, 231, 225);
    padding-bottom: 10px;
    font-size: 12px;
}

.logintitle {
    color: rgb(235, 231, 225);
    margin-left: 23px;
    font-size: 11px;
    font-weight: 600;
    width: 50%;
}

.loginbottomp {
    color: rgb(235, 231, 225);
    padding-top: 30px;
    font-size: 12px;
}

.logininput {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 50%;
    color: rgb(235, 231, 225);
    font-size: 12px;
    background-color: #000;
    border: 1px solid rgb(235, 231, 225);
}

.logininputdiv {
    margin: 10px;
}

.loginlink {
    color: rgb(235, 231, 225);
    background-color: #000;
    font-size: 12px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.loginlink:hover {
    color: rgb(201, 195, 184);
    background-color: #000;
    font-size: 12px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.logindivider {
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 1%;
    color: rgb(235, 231, 225);
}

.loginbutton {
    padding: 10px;
    width: 53%;
    color: rgb(235, 231, 225);
    background-color: #000;
    border: 1px solid rgb(235, 231, 225);
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.loginbutton:hover {
    padding: 10px;
    width: 53%;
    color: rgb(235, 231, 225);
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(235, 231, 225);
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.loginerror {
    padding-top: 5px;
    font-size: 11px;
}

/* Logged in HP */

.homepagedivloggedin {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.homepageloggedinleft {
    position: absolute;
    z-index: 100;
    margin-left: 10%;
    margin-top: 10%;
    padding-left: 60px;
    width: 371px;
    height: 382px;
}

.homepagegrid {
    height: 100%;
    width: 100%;
}

.homepagecontainerloggedin {
    margin: auto;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.homepageh2loggedin {
    color: #000;
    font-weight: 600;
    padding-top: 40px;
}

.homepageh3loggedin {
    color: #000;
    font-weight: 600;
    padding-top: 30px;
}

.homepageploggedin {
    color: #000;
    font-size: 13px;
}

.homepagelinkloggedin {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    border: none;
    color: #000;
}

.homepagelinkloggedin:hover {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    border: none;
    color: rgb(139, 135, 124);
}

.homepageoptionsdivloggedin {
    margin-bottom: 10px;
}

/* Both logged in & logged out */

.homepagefooter {
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: rgb(235, 231, 225);
}

.footerul {
    margin: auto;
    position: sticky;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px 1em;
    padding-left: 100px;
}

.footerheader {
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #000;
    letter-spacing: 1px;
}

.footerp {
    display: inline-block;
    width: 80%;
    font-size: 12px;
    padding-right: 50px;
    border-right: 1px solid #000;
    color: #000;
}

.footerp2 {
    display: inline-block;
    width: 80%;
    font-size: 13px;
    padding-right: 50px;
    color: #000;
}
