body {
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgb(235, 231, 225);
    color: #000;
    font-family: graphik, Arial, sans-serif;
  }

.homepagediv {
    width: 100%;
    bottom: 0;
    top: 0;
}

.homepagecontainer {
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
    height: 1200px;
    background-color: #000;
}

.homepagedivloggedin {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.homepageloggedinleft {
    width: 40%;
    height: 500px;
    background-color: #000;
}

.homepagesquiggle {
    height: 100%;
    width: 100%;
}

.homepageloggedinright {
    width: 60%;
    height: 500px;
}

.homepagecontainerloggedin {
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.homepageh2 {
    color: #fff;
    font-weight: 600;
}

.homepageh2loggedin {
    color: #fff;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 80px;
}

.homepageh3 {
    color: #fff;
    padding-top: 5%;
    font-weight: 600;
}

.homepageh3loggedin {
    color: #fff;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 80px;
}

.homepageh4 { 
    color: #fff;
    font-weight: 600;
}

.homepagep {
    color: #fff;
    font-size: 14px;
}

.homepageploggedin {
    color: #fff;
    font-size: 14px;
    padding-left: 80px;
}

.homepagelink {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.homepagelink:hover {
    display: inline-block;
    text-decoration: underline;
    font-size: 13px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.homepagelinkloggedin {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    border: none;
    background-color: #000;
    color: rgb(223, 213, 198);
}

.homepagelinkloggedin:hover {
    display: inline-block;
    text-decoration: underline;
    font-size: 13px;
    border: none;
    background-color: #000;;
    color: rgb(235, 231, 225);
}

.homepagedivider {
    display: inline-block;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 1%;
    color: #fff;
}

.homepageaboutcontainer {
    width: 100%;
    height: 100%;
}

.homepageaboutleft {
    float: left;
    width: 50%;
    height: 25%;
}

.homepageaboutleftsection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.homepageaboutright {
    float: right;
    width: 50%;
    height: 25%;
}

.homepageaboutrightsection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.homepageaboutpreview {
    width: 200px;
    height: 200px;
}

.homepageoptionsdiv {
    margin-bottom: 10px;
}

.homepageoptionsdivloggedin {
    margin-bottom: 10px;
    padding-left: 80px;
}

.homepageblur {
    filter: blur(3px);
}

.loginformcontainer {
    position: fixed;
    z-index: 100;
    margin-left: 23%;
    width: 30%;
    height: 400px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
}

.loginh2 {
    color: #000;
    font-weight: 600;
}

.loginp {
    color: #000;
    padding-bottom: 10px;
    font-size: 13px;
}

.loginbottomp {
    color: #000;
    padding-top: 10px;
    font-size: 13px;
}

.logininput {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    width: 50%;
    background-color: rgb(235, 231, 225);
    border: none;
}

.logininputdiv {
    margin: 10px;
}

.loginlink {
    color: #000;
    background-color: #fff;
    font-size: 13px;
    border: none;
    text-decoration: none;
}

.loginlink:hover {
    color: #000;
    background-color: #fff;
    font-size: 13px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.logindivider {
    display: inline-block;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 1%;
    color: #000;
}

.loginbutton {
    padding: 10px;
    width: 20%;
    border: none;
    background-color: #000;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.loginerror {
    padding-top: 5px;
    font-size: 11px;
}

.homepagefooter {
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: rgb(235, 231, 225);
}

.footerul {
    margin: auto;
    position: sticky;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px 1em;
}

.footerheader {
    padding-left: 40px;
    padding-top: 60px;
    padding-bottom: 10px;
    color: #000;
}

.footerp {
    display: inline-block;
    width: 80%;
    font-size: 13px;
    padding-right: 50px;
    border-right: 1px solid #000;
    color: #000;
}

.footerp2 {
    display: inline-block;
    width: 80%;
    font-size: 13px;
    padding-right: 50px;
    color: #000;
}
