.entrydraftcontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
}

.entrydraftformcontainer {
    width: 50%;
    margin: auto;
    margin-top: 2.5%;
    bottom: 0;
    padding: 20px;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    height: 500px;
}

.entrydraftform {
    height: 400px;
    margin-top: 50px;
    margin-left: 40px;
}

.entrydraftformheader {
    color: #000;
    letter-spacing: 1px;
}

.entrydraftformp {
    font-size: 12px;
    width: 100%;
    color: #000;
}

.entrydraftinput {
    padding: 10px;
    width: 90%;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    font-size: 12px;
    color: #000;
    font-family: Corbert, Arial, Helvetica, sans-serif;
}

.entrydraftbutton {
    padding: 10px;
    margin-top: 40px;
    width: 93.5%;
    border: none;
    background-color: rgb(235, 231, 225);
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.entrydraftbutton:hover {
    padding: 10px;
    margin-top: 40px;
    width: 93.5%;
    border: none;
    background-color: rgb(226, 223, 219);
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}