.accountpagecontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
    background-color: #fff;
}

.accountlinkscontainer {
    width: 5%;
    margin-left: 27.5%;
    float: left;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.accountformcontainer {
    width: 40%;
    margin-right: 18%;
    padding-left: 5%;
    float: right;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-left: 1px solid rgb(243, 240, 235);
}

.accountp {
    font-size: 11px;
    font-weight: 600;
    width: 100%;
}

.accountsavedp {
    font-size: 11px;
    margin-left: 10px;
    width: 100%;
}

.accountinput {
    padding: 10px;
    font-size: 12px;
    width: 80%;
    background-color: rgb(243, 240, 235);
    border: none;
}

.accountinputdiv {
    margin: 10px;
}

.accountlink {
    color: #000;
    background-color: #fff;
    font-size: 13px;
    border: none;
    text-decoration: none;
}

.accountlink:hover {
    color: #000;
    background-color: #fff;
    font-size: 13px;
    border: none;
    text-decoration: underline;
}

.accountlinkdiv {
    margin-bottom: 10px;
}

.accountbutton {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 80.5%;
    border: none;
    background-color: #000;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}