.accountpagecontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
}

.accountlinkscontainer {
    width: 5%;
    margin-left: 27.5%;
    float: left;
    top: 0;
    bottom: 0;
}

.accountformcontainer {
    width: 40%;
    margin-right: 18%;
    padding-left: 5%;
    float: right;
    top: 0;
    bottom: 0;
    border-left: 1px solid #000;
}

.accountheader {
    letter-spacing: 1px;
}

.accountp {
    font-size: 11px;
    font-weight: 600;
    width: 100%;
}

.accountsavedp {
    font-size: 11px;
    margin-left: 10px;
    width: 100%;
}

.accountinput {
    padding: 10px;
    font-size: 12px;
    width: 80%;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    color: #000;
}

.accountinputdiv {
    margin: 10px;
}

.accountlink {
    background-color: rgb(235, 231, 225);
    color: #000;
    font-size: 12px;
    border: none;
    text-decoration: none;
}

.accountlink:hover {
    background-color: rgb(235, 231, 225);
    color: rgb(139, 135, 124);
    font-size: 12px;
    border: none;
    text-decoration: none;
}

.accountlinkdiv {
    margin-bottom: 10px;
}

.accountbutton {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 81%;
    border: none;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
}

.accountbutton:hover {
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 81%;
    border: none;
    border: 1px solid #000;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(226, 223, 219);
    cursor: pointer;
}