.newentrycontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
    background-color: #fff;
}

.newentryformcontainer {
    width: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.newentryformheader {
    padding-left: 20px;
}

.newentryformp {
    font-size: 11px;
    font-weight: 600;
    width: 100%;
}

.newentrydatep {
    font-size: 12px;
    width: 100%;
}

.newentryinput {
    padding: 10px;
    width: 100%;
    background-color: rgb(235, 231, 225);
    border: none;
}

.newentryinputdiv {
    margin: 20px;
}

.newentrydatediv {
    margin: 20px;
}

.newentrybutton {
    padding: 10px;
    margin: 20px;
    width: 97.5%;
    border: none;
    background-color: #000;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}