.newentrycontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
}

.newentryformcontainer {
    width: 50%;
    margin: auto;
    margin-top: 2.5%;
    bottom: 0;
    padding: 20px;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
}

.newentryform {
    height: 200px;
    margin-left: 90px;
    margin-top: 50px;
}

.newentryinputdiv {
    margin-top: 20px;
}

.newentrydatediv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.newentryformheader {
    letter-spacing: 1px;
}

.newentryformp {
    font-size: 11px;
    font-weight: 600;
    width: 100%;
}

.newentrydatep {
    font-size: 12px;
    width: 80%;
}

.newentryinput {
    font-size: 12px;
    padding: 10px;
    width: 80%;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    color: #000;
}

.newentrybutton {
    padding: 10px;
    width: 83%;
    border: none;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(235, 231, 225);
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.newentrybutton:hover {
    padding: 10px;
    width: 83%;
    border: none;
    font-size: 11px;
    font-weight: 600;
    background-color: rgb(226, 223, 219);
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}