.editentrycontainer {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 8%;
    background-color: #fff;
}

.editentryformcontainer {
    width: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.editentryform {
    padding: auto;
}

.editentryformheader {
    padding-left: 20px;
}

.editentryformp {
    font-size: 14px;
    width: 100%;
}

.editentryinput {
    padding: 10px;
    width: 100%;
    background-color: rgb(241, 232, 223);
    border: none;
}

.editentryinputdiv {
    margin: 20px;
}

.editentrybutton {
    padding: 10px;
    margin: 20px;
    width: 97.5%;
    border: none;
    background-color: #000;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}