.navbarcontainer {
    position: sticky;
    text-overflow: hidden;
    white-space: nowrap;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(235, 231, 225);
    color: #000;
    font-family: graphik, Arial, sans-serif;
}

.navbarul {
    margin: auto;
    position: sticky;
    list-style-type: none;
}

.navbarlink {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: #000;
    cursor: pointer;
}

.navbarlink:hover {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: rgb(139, 135, 124);
    cursor: pointer;
}

.navbardivider {
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.navbarlogo {
    width: 4.5%;
    height: .4%;
    padding-top: 1.5%;
    display: inline-block;
    margin-left: 27%;
    margin-right: 32%;
}

.navbarlogologgedin {
    width: 4.5%;
    height: .4%;
    padding-top: 1.5%;
    display: inline-block;
    margin-left: 21%;
    margin-right: 38%;
}

.navbardropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    height: 170px;
    padding: 25px, 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #000;
    border: 1px solid rgb(235, 231, 225);
    z-index: -1;
}

.navbardropdownspan:hover .navbardropdown {
    display: block;
}

.dropdowndiv {
    width: 100%;
    border-bottom: 1px solid rgb(235, 231, 225);
}

.dropdownclosediv {
    width: 90%;
}

.dropdownlink {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: #000;
    color: rgb(235, 231, 225);
}

.dropdownlink:hover {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: #000;
    color: rgb(139, 135, 124);
}

