.navbarcontainer {
    position: sticky;
    text-overflow: hidden;
    white-space: nowrap;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(235, 231, 225);
    color: #000;
    font-family: graphik, Arial, sans-serif;
}

.navbarul {
    margin: auto;
    position: sticky;
    list-style-type: none;
}

.navbarlink {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-size: 13px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: #000;
}

.navbarlink:hover {
    display: inline-block;
    text-decoration: underline;
    font-size: 13px;
    border: none;
    background-color: rgb(235, 231, 225);
    color: #000;
}

.navbardivider {
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    color: #000;
}

.navbarcircle {
    display: inline-block;
    font-size: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
}

.navbarlogo {
    width: 4.5%;
    height: .4%;
    padding-top: 1.5%;
    display: inline-block;
    margin-left: 19%;
    margin-right: 37%;
}

.navbarlogologgedin {
    width: 4.5%;
    height: .4%;
    padding-top: 1.5%;
    display: inline-block;
    margin-left: 24%;
    margin-right: 38%;
}

.navbardropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 240px;
    padding: 25px, 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(235, 231, 225);
    border: 1px solid #fff;
    z-index: -1;
}

.dropdowndiv {
    margin: 20px;
    width: 90%;
    border-bottom: 1px solid #fff;
}

.dropdownclosediv {
    margin: 20px;
    width: 90%;
}

